.btn {
  width: 40%;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: solid white 2px;
  text-decoration: none;
  margin-left: 50vh;
}

.btn > p {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}


div#lightblue:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

div#lightgreen:hover {
  background: #3cfc8f;
 background-image: -webkit-linear-gradient(top, #3cfc8f, #34d939);
 background-image: -moz-linear-gradient(top, #3cfc8f, #34d939);
 background-image: -ms-linear-gradient(top, #3cfc8f, #34d939);
 background-image: -o-linear-gradient(top, #3cfc8f, #34d939);
 background-image: linear-gradient(to bottom, #3cfc8f, #34d939);
 text-decoration: none;
}

div#lightpink:hover {
  background: #fa3c98;
  background-image: -webkit-linear-gradient(top, #fa3c98, #d9344f);
  background-image: -moz-linear-gradient(top, #fa3c98, #d9344f);
  background-image: -ms-linear-gradient(top, #fa3c98, #d9344f);
  background-image: -o-linear-gradient(top, #fa3c98, #d9344f);
  background-image: linear-gradient(to bottom, #fa3c98, #d9344f);
  text-decoration: none;
}
